/* 

body{
    background-color: #153C20;
    font-family: 'NanumSquareNeo-Variable';
}
header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: #153C20;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
   
    left: 0;
    right: 0;
    border-bottom: #fff solid 2px;
}
h1{
    
    padding-left: 30px;
}
span{
    display: inline-block;
    padding: 0px 50px;
}

 */
 @import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
 @font-face {
         font-family: 'NanumSquareNeo-Variable';
         src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
         font-weight: normal;
         font-style: normal;
 }
 /* :root {
  --bgcolor: #153C20;
} */

body{
  background-color: #153C20;
}

* {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: var(--bgcolor);
  /* padding: 1.3rem; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:105px;
}

.nav{
  margin-right:45px;
}
.nav > a {
  color: white;
  padding: 1.3rem;
  cursor: pointer;
  font-family: 'NanumSquareNeo-Variable';
}

.Logo a:hover {
  background-color: #5052db;
}

.Logo a.active {
  background-color: #153C20;
  font-family: 'Kumar One', cursive;
  font-size:30px;
  margin-left: 35px;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}


/* #navigation-bar{
  display: flex;
  justify-content: space-between;
   align-items: center;
}
.nav{
 position : absolute;
  right: 800px;
} */

@media screen and (max-width: 700px) {
  .nav {
      display: none;
      position: absolute;
      top: 3.7rem;
      left: 0;
      width: 100%;
      background-color: var(--bgcolor);
      text-align: center;
  }

  .Logo.responsive {
      display: block;
  }

  .Logo a {
      display: block;
  }

  .menu-icon {
      display: block;
      z-index: 1;
  }
}