@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
}

body {
    background-color: #153C20;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    text-rendering: optimizeLegibility;
  }

  select {
        font-family: 'NanumSquareNeo-Variable';
        width:220px;
        height: 38px;
        font-size: 18px;
        outline: 0;
        background: white;
        color: #153C20;
        border: 1px solid white;
        padding: 4px;
        border-radius: 9px;
        margin-left:12px;
      }  

 .selectcollege{

        left: 280px;
        top: 200px;
        
        position:absolute;
        color: white; opacity:0.7;
        font-size: 23px;
        font-family: 'NanumSquareNeo-Variable';
        }

.firstrow{
        display: flex;
        justify-content: space-around;
        margin:auto;
        position:relative;
        top: 270px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: white; 
        width:1350px;
        height:130px;
        border-bottom: 1.2px solid black;
        /* height:750px;        */
}
h2{
        border-radius: 10px;
        border: 1px solid var(--main-color, #153C20);
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        flex-shrink: 0;
        color: var(--main-color, #153C20);
        text-align: center;
        font-size:25px;
}
.explain{
        margin:auto;
        position: relative; 
        display: flex;
        justify-content: space-around;
        width:1350px;
        height:640px;
        top:270px;
        background: #fff;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
}
.firstrow::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: black;
        margin-left: 10px; 
      }
      
      .explain::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: black;
        margin-left: 10px; 
      }

.freshman{
        position: absolute;
        top: 37px;
        left: 70px;
        color: var(--main-color, #153C20);
        text-align: center;
        font-size:19px;
        font-family: NanumSquare;
        font-weight: 400;
}
.firstSem{
        color: var(--main-color, #153C20);
        text-align: center;
        font-size: 25px;
        font-family: NanumSquare;
        font-weight: 600;
        position: absolute;
        top: 79px;
        left: 70px;
}
.firstcourse{
        color: var(--main-color, #153C20);
        font-size: 21px;
        font-family: NanumSquare;
        line-height: 36px;
        position: absolute;
        top: 105px;
        left: 90px;
        font-weight:400;
}
.secondSem{
        color: var(--main-color, #153C20);
        text-align: center;
        font-size: 25px;
        font-family: NanumSquare;
        font-weight: 600;
        position: absolute;
        top: 250px;
        left: 70px;
}
.secondcourse{
        color: var(--main-color, #153C20);
        font-size: 21px;
        font-family: NanumSquare;
        line-height: 36px;
        position: absolute;
        top: 280px;
        left: 90px;
        font-weight:400;
}
.computing{
        color: var(--main-color, #153C20);
        font-size: 21px;
        font-family: NanumSquare;
        line-height: 36px;
        position: absolute;
        top: 450px;
        left: 90px;
        font-weight:700;
}
.computingtip{
        color: var(--main-color, #153C20);
        font-size: 19px;
        font-family: NanumSquare;
        line-height: 27px;
        position: absolute;
        top: 512px;
        left: 130px;
        font-weight:400;
}
.fourcourse{
        color: var(--main-color, #153C20);
        text-align: center;
        font-size: 25px;
        font-family: NanumSquare;
        font-weight: 600;
        position: absolute;
        top: 70px;
        left: 740px;
}

.coursetype{
        color: var(--main-color, #153C20);
        font-size: 21px;
        font-family: NanumSquare;
        line-height: 36px;
        position: absolute;
        top: 100px;
        left: 750px;
        font-weight:400;
}
.tip{
        color: #17171F;
        text-align: center;
        font-size: 16px;
        font-family: NanumSquare;
        font-weight:300;
        position: absolute;
        top: 400px;
        left: 750px;
        font-weight:400;
}
 