@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
}

body {
    background-color: #153C20;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    text-rendering: optimizeLegibility;
  }

  select {
        font-family: 'NanumSquareNeo-Variable';
        width:200px;
        height: 38px;
        font-size: 18px;
        outline: 0;
        background: white;
        color: #153C20;
        border: 1px solid white;
        padding: 4px;
        border-radius: 9px;
        margin-left:12px;
      }  

 .selectcollege{

        left: 280px;
        top: 200px;
        
        position:absolute;
        color: white; opacity:0.7;
        font-size: 23px;
        font-family: 'NanumSquareNeo-Variable';
        }

.firstrow{
        display: flex;
        justify-content: space-around;
        margin:auto;
        position:relative;
        top: 270px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: white; 
        width:1350px;
        height:130px;
        border-bottom: 1.2px solid black;
        /* height:750px;        */
}
h2{
        border-radius: 10px;
        border: 1px solid var(--main-color, #153C20);
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        flex-shrink: 0;
        color: var(--main-color, #153C20);
        text-align: center;
        font-size:25px;
}
.explain{
        margin:auto;
        position: relative; 
        display: flex;
        width:1350px;
        height:500px;
        top:270px;
        background: #fff;
        /* display: flex;
        justify-content: space-around;
        margin:auto;
        position:relative;
        top: 421px;
        background-color: white; 
        width:1350px;
        height:150px; */
}