@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
 @font-face {
         font-family: 'NanumSquareNeo-Variable';
         src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
         font-weight: normal;
         font-style: normal;
 }

body{
  background-color: #153C20;
  color: white;
  font-family: 'NanumSquareNeo-Variable';
}
#title{
  padding: 20px;
  color: #153C20;
  background-color: white;
  border-radius: 15px;
  display: inline-block;  
  margin: 30px 30px;
  font-size: 20px;
}
#explain{
  margin: 10px 10px;
}
#explain > p{
  margin: 10px 50px;
  padding: 5px 10px;
  font-size: 20px;
}
iframe{
  margin-top: 30px;
}